.btn-add{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    margin-left: 50px;
}

.btn-add-img{
    width: 100px;
    height: 50px;
    border-radius: 20px;
    background-color: transparent;
    margin-left: -20px;
}

.prod-header{
    margin-left: 750px

}